body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    width: 800px;
    float: left;
    margin-left: calc(50% - 400px);
    margin-bottom: 60px;
}
main-header {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    
}
.main-nav {
    gap: 15px;
    display: flex;
    
}
.menu-link {
    color: black;
    font-size: 19px;
    text-decoration: none;
}
.menu-link:hover {
    background-color: grey;
    text-decoration: underline;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-column {

}
.main-title {

}
.description {

}
.btn {
    
}
.right-column {
    width: 50%;
}
footer {
    margin-bottom: 15px;
}

